*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

.p-2 {
    padding-block: 15px;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-self-end {
    align-self: flex;
}

#root {
    min-height: 100%;
}

.section-margin {
    margin-block: 10px;
}

.fullScreen {
    height: calc(100vh - 81.4px);
}